@page "/feed"

<PageTitle>Feed</PageTitle>

<MudAppBar Color="Color.Primary" Fixed="false" Dense="true">
    <MudChipSet @bind-SelectedChip="selected" Filter="true" Mandatory="true">
            <MudChip Text="grey" Value="1" Default="true">Default</MudChip>
            <MudChip Text="purple" Color="Color.Primary">Primary</MudChip>
            <MudChip Text="pink" Color="Color.Secondary">Secondary</MudChip>
            <MudChip Text="blue" Color="Color.Info">Info</MudChip>
            <MudChip Text="green" Color="Color.Success">Success</MudChip>
            <MudChip Text="orange" Color="Color.Warning">Warning</MudChip>
            <MudChip Text="red" Color="Color.Error">Error</MudChip>
            <MudChip Text="black" Color="Color.Dark">Dark</MudChip>
            <MudChip Text="black" Color="Color.Dark">Dark</MudChip>
            <MudChip Text="black" Color="Color.Dark">Dark</MudChip>
            <MudChip Text="black" Color="Color.Dark">Dark</MudChip>
            <MudChip Text="black" Color="Color.Dark">Dark</MudChip>
            <MudChip Text="black" Color="Color.Dark">Dark</MudChip>
            <MudChip Text="black" Color="Color.Dark">Dark</MudChip>
            <MudChip Text="black" Color="Color.Dark">Dark</MudChip>
            <MudChip Text="black" Color="Color.Dark">Dark</MudChip>
        </MudChipSet>
</MudAppBar>

<MudTabs Elevation="4" Rounded="true" Color="@Color.Secondary">
    <MudTabPanel Text="One" />
    <MudTabPanel Text="Two" />
    <MudTabPanel Text="Three" />
    <MudTabPanel Text="Four" />
    <MudTabPanel Text="Five" />
    <MudTabPanel Text="Six" />
    <MudTabPanel Text="Seven" />
    <MudTabPanel Text="Eight" />
    <MudTabPanel Text="Nine" />
    <MudTabPanel Text="Ten" />
    <MudTabPanel Text="Eleven" />
    <MudTabPanel Text="Thirteen" />
</MudTabs>

<MudPaper Elevation="25">
    <MudToolBar>
        <MudChipSet @bind-SelectedChip="selected" Filter="true" Mandatory="true">
            <MudChip Text="grey" Value="1" Default="true">Default</MudChip>
            <MudChip Text="purple" Color="Color.Primary">Primary</MudChip>
            <MudChip Text="pink" Color="Color.Secondary">Secondary</MudChip>
            <MudChip Text="blue" Color="Color.Info">Info</MudChip>
            <MudChip Text="green" Color="Color.Success">Success</MudChip>
            <MudChip Text="orange" Color="Color.Warning">Warning</MudChip>
            <MudChip Text="red" Color="Color.Error">Error</MudChip>
            <MudChip Text="black" Color="Color.Dark">Dark</MudChip>
            <MudChip Text="black" Color="Color.Dark">Dark</MudChip>
            <MudChip Text="black" Color="Color.Dark">Dark</MudChip>
            <MudChip Text="black" Color="Color.Dark">Dark</MudChip>
            <MudChip Text="black" Color="Color.Dark">Dark</MudChip>
            <MudChip Text="black" Color="Color.Dark">Dark</MudChip>
            <MudChip Text="black" Color="Color.Dark">Dark</MudChip>
            <MudChip Text="black" Color="Color.Dark">Dark</MudChip>
            <MudChip Text="black" Color="Color.Dark">Dark</MudChip>
        </MudChipSet>
    </MudToolBar>
</MudPaper>

<h3>Feed</h3>

<MudCard>
    <MudCardHeader>
        <CardHeaderContent>
            <MudIcon Icon="@Icons.Material.Filled.Info" Color="Color.Info" />
            <MudText Typo="Typo.h6">Promjena rasporeda</MudText>
        </CardHeaderContent>
        <CardHeaderActions>
            <MudTooltip Text="Edit message" Placement="Placement.Left" Color="Color.Primary" Arrow="true">
                <MudIconButton Icon="@Icons.Material.Filled.Edit" Color="Color.Default" />
            </MudTooltip>
            
        </CardHeaderActions>
    </MudCardHeader>
    <MudCardContent>
        <MudText>This day everything happend.</MudText>
        <MudText Typo="Typo.body2">The quick, brown fox jumps over a lazy dog.</MudText>
    </MudCardContent>
    <MudCardActions>
        <MudButton Variant="Variant.Text" Color="Color.Primary">Read More</MudButton>
    </MudCardActions>
</MudCard>

@code {
    MudChip selected;
}
